*
{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  -o-object-fit: cover;
     object-fit: cover;
}
hr {
  margin: 0;
  background-color: #afafaf;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0 8px 6px -6px #2a2;
            box-shadow: 0 8px 6px -6px #2a2;
    z-index: 3;
  }
  
  header nav a.navbar-brand {
    font-size: 3rem;
    margin-left: 1rem;
  }
  header nav ul li {
    font-size: 2rem;
    margin-right: 1rem;
  }
  header nav ul li a.nav-link {
    padding: 0.75rem;
  }
  body section.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  body section.main section.contact {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  body section.main section.contact div.text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin: 2rem;
    border: 0.5px solid #b0aeae;
    text-align: center;
    padding: 2rem;
  }
  
  body section.main section.contact div.text h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  body section.main section.contact div.text p {
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  body section.main section.contact form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
    margin: 1rem 2rem;
    border: 0.5px solid #b0aeae;
    padding: 2rem;
  }
  
  body section.main section.contact form h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  body section.main section.contact form label {
    font-size: 1.25rem;
  }
  body section.main section.contact form textarea {
    white-space:pre-line;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }


    
  main section.data {
    width: 95%;
  }
  
  main section.data h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  
  main section.data hr {
    width: 99%;
  }
  
  main section.data section.phone {
    width: 65%;
  }
  
  main section.data div.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  main section.data div.cards div.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
    border: 1px solid gray;
    margin-right: 1rem;
    max-width: 425px;
    margin-top: 1rem;
  }
  
  main section.data div.cards div.card hr {
    background-color: black;
    width: 90%;
    margin: 0;
  }
  
  main section.data div.cards div.card img {
    width: 100%;
    height: 15vw;
  }
  
  main section.data div.cards div.card h2 {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
  }
  
  main section.data div.cards div.card div.text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.3rem;
    width: 100%;
    min-height: 230px;
  }
  
  main section.data div.cards div.card div.text button {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #0d6efd;
    border: none;
    text-align: center;
    width: 130px;
  }
  
  main section.data div.cards div.card div.text button a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
  }
  

  footer{
    background-color: #17a2b8;
  }
  
  footer div.statement {
    padding: 1.5rem;
    color: white;
    text-align: center;
  }
  
  footer div.statement h3 {
    font-size: 2rem;
  }
  
  footer div.statement p {
    font-size: 1rem;
  }





@media screen and (max-width: 1610px) {
  main section.data div.cards {
    padding-left: 2.5rem;
  }
}

@media screen and (max-width: 1148px) {
  body section.main section.contact {
    width: 80%;
  }
  main section.society {
    width: 100%;
  }
  main section.society div.info div.img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
  main section.society div.info div.text {
    -webkit-box-flex: 3;
        -ms-flex: 3 1 330px;
            flex: 3 1 330px;
  }
  main section.society div.info div.text p {
    min-height: 100px;
    font-size: 1.25rem;
  }
  main section.society div.licenses div.license {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
    padding-left: 0;
  }
  main section.society div.licenses div.license p {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  main section.data {
    width: 100%;
  }
  main section.data section.end {
    width: 80%;
  }
  main section.data div.cards {
    padding-left: 0rem;
  }
  main section.data div.cards div.card {
    max-width: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 230px;
            flex: 1 1 230px;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }
  main section.data div.cards div.card h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  main section.data div.cards div.card img {
    height: 150px;
  }
  main section.data div.cards div.card div.text {
    min-height: 240px;
  }
  main section.data div.cards div.card div.text p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 736px) {
  body section.main section.contact {
    width: 100%;
  }
  body section.main section.contact div.text {
    padding: 1rem;
    margin: 1rem;
    max-height: 230px;
  }
  body section.main section.contact div.text p {
    font-size: 1.15rem;
  }
  body section.main section.contact form {
    margin: 0rem;
    margin: 1rem;
  }
  main section.society div.info div.img img {
    min-height: 200px;
  }
  main section.society div.info div.text p {
    font-size: 1rem;
    min-height: 60px;
  }
  main section.society div.licenses div.license {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 350px;
            flex: 1 1 350px;
    padding-left: 0;
  }
  main section.society div.licenses div.license p {
    padding: 1rem;
    font-size: 1.25rem;
  }
  main section.data {
    width: 90%;
  }
  main section.data section.end {
    width: 100%;
  }
  main section.data div.cards div.card {
    max-width: none;
    margin-bottom: 1rem;
  }
  main section.data div.cards div.card h2 {
    font-size: 1.25rem;
  }
  main section.data div.cards div.card img {
    height: 200px;
  }
  footer div.statement h3 {
    font-size: 1.5rem;
  }
  footer div.statement p {
    font-size: 0.75rem;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */