*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0 8px 6px -6px #2a2;
            box-shadow: 0 8px 6px -6px #2a2;
    z-index: 3;
  }
  
  header nav a.navbar-brand {
    font-size: 3rem;
    margin-left: 1rem;
  }

  header nav ul li {
    font-size: 2rem;
    margin-right: 1rem;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  main hr {
    width: 100%;
  }

  main section.alldata section.information {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  main section.alldata section.information div.photo_stickers {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main section.alldata section.information div.photo_stickers img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 25%;
    margin-bottom: 0.5rem;
  }

  main section.alldata section.information div.photo_stickers p {
    font-size: 2rem;
    font-weight: bolder;
  }

  main section.alldata section.information div.text-1 {
    -webkit-box-flex: 13;
        -ms-flex: 13 1 700px;
            flex: 13 1 700px;
    padding: 1rem 1.5rem;
  }

  main section.alldata section.information div.text-1 p {
    font-size: 1.25rem;
    margin: 1;
  }

  main section.alldata section.information div.text-1 img {
    margin-top: 0.5rem;
    width:  16vw ;
    height: 3vw ;
    margin-right: 0.5rem;
  }

  main section.alldata section.data {
    width: 75vw;
    padding: 1rem;
  }

  main section.alldata section.data div.personal {
    width: 90%;
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  main section.alldata section.data div.personal div.data {
    font-size: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
  }

  main section.alldata section.data div.personal div.data span {
    padding: 0.25rem;
  }

  main section.alldata section.data ul {
    padding: 0.5rem 1rem;
  }

  main section.alldata section.data ul li {
    list-style-type: none;
    margin-top: 0.5rem;
  }

main section.alldata section.data ul li span.school {
  font-size: 1.75rem;
  font-weight: bolder;
}

main section.alldata section.data ul li span.year {
  color: plum;
  font-size: 1.25rem;
}

main section.alldata section.data ul li span.major {
  font-size: 1.25rem;
  font-weight: bolder;
}

main section.alldata section.data div.license div.lidata{
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

main section.alldata section.data div.license div.lidata span.license-eng{
  font-size: 1.75rem;
  font-weight: bolder;
}

main section.alldata section.data div.license div.lidata li{
  list-style-type: circle;
}

main section.alldata section.data div.license div.lidata li span.license-ch{
  font-size: 1.25rem;
}

main section.alldata section.data div.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.alldata section.data div.skill hr {
  margin-bottom: 1rem;
}

main section.alldata section.data div.skill div.skdata {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 450px;
          flex: 1 1 450px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

main section.alldata section.data div.skill div.skdata ol {
  margin: 0;
}

main section.alldata section.data div.skill div.skdata ol li {
  margin: 0;
  font-size: 1.15rem;
}

main section.alldata section.data div.skill div.skdata div.skimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.5rem;
  width: 25%;
}

main section.alldata section.data div.skill div.skdata div.skimg img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.25rem;
}

main section.alldata section.data div.skill div.skdata div.skimg p {
  font-size: 1rem;
  font-weight: 600;
}

footer{
  background-color: #17a2b8;
}

footer div.statement {
  padding: 1.5rem;
  color: white;
  text-align: center;
}

footer div.statement h3 {
  font-size: 2rem;
}

footer div.statement p {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */